

header {
    width: 37.5em;
    margin: 2em auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
#logo {
    float: left;
    text-align: right;
    margin-top: 8px;
}
.logo {
    background: url('https://s.cdpn.io/7635/averyson-logo.gif') no-repeat;
    background-size: 100%;
    float:left;
    width:60%;
    height: 70em;
    font-family: Baskerville;
    color: #575557;
    position: relative;
}

.laura, .javery, .ampersand {
    font-size: 5em;
    text-align: center;
}

.laura {
    position: absolute;
    top: 70px;
    left: 130px;
}

.javery {
    position: absolute;
    top: 165px;
    left: 245px;  
}

.ampersand {
    font-style: italic; 
    position: absolute;
    top: 120px;
    left: 170px;
}

date {
    border-top: 1px solid #575557;
    border-bottom: 1px solid #575557;
    position: absolute;
    top: 205px;
    left: 166px
}
#company {
    float: right;
    text-align: left;
  }