

header {
    width: 37.5em;
    margin: 2em auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
#logo {
    float: left;
    text-align: right;
    margin-top: 8px;
}
.logo {
    background: url('https://s.cdpn.io/7635/averyson-logo.gif') no-repeat;
    background-size: 100%;
    float:left;
    width:60%;
    height: 70em;
    /*font-family: Baskerville;*/
    font-family: 'Baskerville';
    src: url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
    color: #575557;
    position: relative;
}

.laura, .javery, .ampersand {
    font-size: 5em;
    text-align: center;
}

.laura {
    position: absolute;
    top: 55px;
    left: 142px;
}

.javery {
    position: absolute;
    top: 150px;
    left: 235px;  
}

.ampersand {
    font-style: italic; 
    position: absolute;
    top: 105px;
    left: 176px;
}

date {
    border-top: 1px solid #575557;
    border-bottom: 1px solid #575557;
    position: absolute;
    top: 205px;
    left: 180px
}
#company {
    float: right;
    text-align: left;
}